<div class="jumbotron">
  <h1>Dashboard ({{currentMenu}})</h1>
</div>

<div class="row">
  <div class="col-md-3">
    <div class="list-group">
      <a ui-sref="dashboard.apis" ng-click="changeMenu('api')" class="list-group-item" ng-class="{'active':  currentMenu==='api'}">APIs Called</a>
      <a ui-sref="dashboard.times" ng-click="changeMenu('times')" class="list-group-item" ng-class="{'active':  currentMenu==='times'}">Execution Times</a>
      <a ng-click="callHome()" class="list-group-item" ng-class="{'active':  currentMenu==='home'}">Call Home using GO</a>
    </div>
  </div>
  <div class="col-md-9">
    <div ui-view="content"></div>
  </div>
</div>
